body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.product {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}
.product img {
    width: 100%;
    border-radius: 10px;
}
.product h3 {
    margin: 10px 0;
    font-size: 1.2em;
}
.product p {
    font-size: 1em;
    color: #6666;
}
.product .price {
    font-size: 1.4em;
    color: #e74c3c;
    font-weight: bold;
    margin: 10px 0;
}

.promo-banner {
    background: url('../assets/promo-banner.jpg') no-repeat center center;
    background-size: contain; /* Ensure the full image is shown */
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    height: 60vh; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.promo-banner h2 {
    font-size: 2rem;
    margin: 0;
}

.promo-banner p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.promo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
}

.promo-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 300px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    
}
.promo-cards{
    margin-bottom: 100px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
